@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* Custom styles for social icons */
.social-icon {
    transition: color 0.2s;
}

.social-icon:hover {
    color: #eb8613; /* A nice blue for hover */
}
